extends layout

block content
    .jumbotron
        .container
            h1 How May I help You?
            p Shabby chic everyday carry cold-pressed ethical echo park. Put a bird on it twee synth, gastropub chartreuse food truck small batch photo booth. Bushwick asymmetrical cronut, skateboard seitan master cleanse polaroid kombucha.
            a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    .container
        .row
            .col-md-4
                h2 About Us
                p Polaroid pabst waistcoat, migas authentic celiac pinterest. Meh stumptown seitan, schlitz yuccie cold-pressed pickled bicycle rights cray.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Services
                p Polaroid pabst waistcoat, migas authentic celiac pinterest. Meh stumptown seitan, schlitz yuccie cold-pressed pickled bicycle rights cray.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Get In Touch
                p Polaroid pabst waistcoat, migas authentic celiac pinterest. Meh stumptown seitan, schlitz yuccie cold-pressed pickled bicycle rights cray.
                a.btn.btn-default(href='#') View Details